@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
}
.card{
  background-color: rgb(19, 19, 19);
}
.header{
  background-color: #1d1f25;
}
.dummy_class{
  width: 100%;
  object-fit: cover;
  
}